<!DOCTYPE html>
<html>
    <head>
         <title>URL not FOUND</title>
         <link rel="stylesheet" type="text/css" href="../static/css/projectcss.css">    
</head>
    <body>
         <div class="wrapper">
         <h2>Ooooops! The URL you are requesting doesn't exist.</h2>
         <p>Maybe the URL will be found after this Jeopardy 
Jingle...</p>
         <iframe width="420" height="315" 
src="//www.youtube.com/embed/rTyN-vvFIkE" frameborder="0" 
allowfullscreen></iframe>
     </div>
     <div class="footer">
                <p>©Tim, Sid, Arezu 2013</p>
     </div>
    </body>
</html>
