<!DOCTYPE>
<html>
    <head>
        <title>Tim, Sid, and Arezu's killer URL shortener!</title>
    </head>
    <body>
        <h1> The Cooler Bitly</h1>
        <form action="shorts" method="post">
            <ul>
                <li>
                    <label for="url">Enter Url You would like Shortened:</label>
                    <input type="text" name="url" />
                </li>
                <li>
                    <label for="urlkey">What do you want to shorten it to?</label>
                    <input type="text" name="urlkey" />
		</li>
                <li>
                    <input type="submit" value="Submit">
                </li>
            </ul>
        </form>
    </body>
</html>
